<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinancasApp</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-secondary">
    <nav class="navbar navbar-expand-lg navbar-primary bg-primary">
        <div class="container">
            <a class="navbar-brand text-white" href="/Account/Login">
                <strong>FinancasApp</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/Account/Login">
                            Acessar Sistema
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/Account/Register">
                            Criar Usuário
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/Account/ForgotPassword">
                            Esqueci minha senha
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card mt-5">
                <div class="card-body">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>