@model FinancasApp.Presentation.Models.AccountForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<div class="text-center">
    <img src="https://pibernat.com.br/blog/wp-content/uploads/2020/11/post_thumbnail-d7f3866e449d6d248b140905515448c5-780x450.jpg" alt="https://pibernat.com.br/blog/wp-content/uploads/2020/11/post_thumbnail-d7f3866e449d6d248b140905515448c5-780x450.jpg" width="210" height="150" style="border: 2px solid #000;" />
    <h3>Esqueci minha senha</h3>
    <p>Entre com os dados para recuperar sua senha:</p>
</div>
<hr />

@using(Html.BeginForm())
{
    <div class="mb-2">
        <label>Email de acesso:</label>
        @Html.TextBoxFor(model => model.Email, new {
    @class = "form-control",
    @placeholder ="Digite seu email aqui."
    })

        <div class="text-danger">
            @Html.ValidationMessageFor(model=> model.Email)
        </div>
    </div>
    <div class="mb-2 d-grid">
        <input type="submit" class="btn btn-primary"
               value="Recuperar Senha" />

    </div>
    <div class="mb-2 row">
        <div class="col d-grid">
            <a href="/Account/Login" class="btn btn-light">
                Voltar para a página inicial
            </a>
        </div>
    </div>
    }